*{margin: 0,padding: 0;}
.container{position:relative;width:100%;min-height:100%;margin:0;padding: 0;}
.header{margin: 0;padding: 0;
	font-size: 25px !important;
	font-family: "微软雅黑" , "宋体" , "黑体" ,Arial;
}

.pay{
	width: 300px;
	margin: 1px auto;
	line-height: 50px;
	font-size: 20px;
	border-radius: 5px;
	font-family: "微软雅黑" , "宋体" , "黑体" ,Arial;
	text-align: center;
	background-color:#32CD32;
	color: #fff;
}
.pay a{display: block;border-radius: 5px;color: #fff; }
.pay a:hover{text-decoration: none;background-color: #FF0000;color: #fff;}

.footer{margin:0 auto;
position: fixed;
bottom:0px;
left:0px;
font-size: 15px;
font-family: "微软雅黑" , "宋体" , "黑体" ,Arial;
background-color: #00303e;
width: 100%;
color: #fff;
}
.footer p{text-align: center;display: inline-block;margin: 0 auto;}
p span{margin: 0 30px;}
h1{
	margin: 0 auto;
	text-align: center;
	color: #fff;
	background-color: #00303e;
}
 
h2{
	margin:0 auto;
	
}

/*代练类型*/
@media all and (min-width:1080px) 	{
	.wrap{
	margin: 0 auto;
	width: 1000px;
}
	.tp{
	width: 300px;
	margin: 1px 1px;
	line-height: 50px;
	font-size: 20px;
	border-radius: 5px;
	font-family: "微软雅黑" , "宋体" , "黑体" ,Arial;
	text-align: center;
	background-color:#008080;
	color: #EE82EE;
	display: inline-block;
}
.tp a{
	color: rgba(255,255,255,.5);
}
.tp a:hover{
color:red;
font-size: 25px;
text-decoration: none;
}
}
@media all and (max-width:1080px)    {
	.wrap{
	margin: 0 auto;
}
	.tp{
	width: 300px;
	margin: 1px auto;
	line-height: 50px;
	font-size: 20px;
	border-radius: 5px;
	font-family: "微软雅黑" , "宋体" , "黑体" ,Arial;
	text-align: center;
	background-color:#008080;
	color: #EE82EE;
}
.tp a{
	color: rgba(255,255,255,.5);
}
.tp a:hover{
color:red;
font-size: 25px;
text-decoration: none;
}
}
/*价格表格*/
			.ui-table {margin: 20px auto; border-collapse: collapse; font-size: 12px; text-align: center; color: #666;}
			.ui-table th, .ui-table td {padding: 4px 8px; border: 1px solid #ccc;}
			.ui-table th {background-color: #f0f0f0;}
.tabH{
	font-size: 25px;
	font-family: "微软雅黑" , "宋体" , "黑体" ,Arial;
	text-align: center;
}
td span { 
color: red; }

span a{color: rgba(255,255,255,.5);}
span a:hover{color:red;
text-decoration: none;}
#question{
	display: inline-block;
	background-color: #008080;
	border-radius: 50%;
	font-size: 15px;
	height: 20px;
	width: 20px;
	line-height: 20px;

}
p a{color: rgba(255,255,255,.5);}
p a:hover{color:red;
text-decoration: none;}
/*包天页面样式*/
h3{
background-color: #00303e !important;/* 先设置盒子的背景颜色*/
border-radius: 6px 6px 6px 6px !important;/* 再设置盒子border的圆角属性*/
color: #ffffff;/* 再设置文字颜色，文字高度，行高，文字阴影，*/
height: 25px;
line-height: 25px;
text-shadow: 2px 2px 3px #222222;
box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);/* 设置盒子的阴影，外边距，内边距*/
margin: 15px 0 !important;
padding: 5px 0 5px 20px;
font-size: 17px;/* 设置字体 ，!important 是css样式优先执行*/
font-weight: bold;
font-family: "微软雅黑" , "宋体" , "黑体" ,Arial; "}
